{% extends "layout.twig" %}

{% block styles %}

    <!-- datatable -->
    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet"/>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="panel panel-list">
                <!-- Default panel contents -->
                <div class="panel-heading">Hoteles registrados</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/hoteles/form">
                                <i class="fa fa-plus-square"></i> Agregar
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <table id="listado" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nit</th>
                                    <th>Nombre</th>
                                    <th>Ciudad</th>
                                    <th>#Hab</th>
                                    <th>Op</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%if listaHoteles %}
                                    {%for hoteles in listaHoteles %}
                                        <tr>
                                            <td class="text-center">
                                                <span data="{{hoteles.id}}">{{hoteles.nit}}</span>
                                            </td>
                                            <td>{{hoteles.nombre}}</td>
                                            <td>{{hoteles.departamento}} {{hoteles.ciudad}}</td>
                                            <td>{{hoteles.habitaciones}}</td>
                                            <td>
                                                <a id="verDetalles" class="btn btn-xs btn-success btnInfo" data-id="{{hoteles.id}}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-xs btn-primary" href="/hoteles/form/{{hoteles.id}}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a class="btn btn-xs btn-warning" href="/hoteles/habitaciones/{{hoteles.id}}">
                                                    <i class="fa fa-home"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div id="dialog-info" title="Info del Hotel" style="display: none">
                            <table class="table">
                                <tr>
                                    <td>Nit</td>
                                    <td id="txtNit"></td>
                                </tr>
                                <tr>
                                    <td>Nombre</td>
                                    <td id="txtNombre"></td>
                                </tr>
                                <tr>
                                    <td>Direccion</td>
                                    <td id="txtDir"></td>
                                </tr>
                                <tr>
                                    <td>Ciudad</td>
                                    <td id="txtCiu"></td>
                                </tr>
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4">Acomodaciones</th>
                                    </tr>
                                    <tr>
                                        <th>Habitacion</th>
                                        <th>Acomodacion</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody id="listHabitaciones"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block scrips %}

    <!-- datatable --> 
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="{{ 'app/scripts/admin.js' | baseUrl }}" ></script>

{% endblock %}